<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>BizPage Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href=  "{{ url_for('static', filename='img/favicon.png') }}"  rel="icon">
<link href="{{ url_for('static', filename='img/apple-touch-icon.png') }}" rel="apple-touch-icon">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

<!-- phon Css -->
<link href="{{ url_for('static', filename='css/video.css') }}" rel="stylesheet">

<!-- Vendor CSS Files -->
<link href=  "{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}"  rel="stylesheet">
<link href=  "{{ url_for('static', filename='vendor/icofont/icofont.min.css') }}"  rel="stylesheet">
<link href="{{ url_for('static', filename='vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='vendor/ionicons/css/ionicons.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='vendor/animate.css/animate.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='vendor/venobox/venobox.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='vendor/owl.carousel/../static/assets/owl.carousel.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='vendor/aos/aos.css') }}" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">

<!-- <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet"> -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<!-- Template Main CSS File -->
<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">





<!-- =======================================================
* Template Name: BizPage - v3.1.0
* Template URL: https://bootstrapmade.com/bizpage-bootstrap-business-template/
* Author: BootstrapMade.com
* License: https://bootstrapmade.com/license/
======================================================== -->

</head>

<!-- <body style="background-image: url('../static/img/video_back.jpg');"> -->
  <body style="background-color: black;">

<!-- ======= Header ======= -->
<header id="header" class="fixed-top header-transparent">
  <div class="container-fluid">

    <div class="row justify-content-center">
      <div class="col-xl-11 d-flex align-items-center">
        <!-- <h1 class="logo mr-auto"><a href="index.html">BizPage</a></h1> -->
        <!-- Uncomment below if you prefer to use an image logo -->

        <a href="/" class="logo mr-auto"><img src="../static/img/logo.png" alt="" class="img-fluid" width="60%" height="80%"></a>

        <nav class="nav-menu d-none d-lg-block">
          <ul>
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/videos">Videos</a></li>
            <li><a href="/blog_post">Blog Post</a></li>
            <li><a href="/about_us">About Us</a></li>
            <li><a href="/contact_us">Contact Us</a></li>
            
            

          </ul>
        </nav><!-- .nav-menu -->
      </div>
    </div>

  </div>
</header><!-- End Header -->
  



<!-- <div class="row" style="margin-top: 6%;margin-left: 1%;margin-right: 1%;" >

  <img class="photo" src="https://source.unsplash.com/user/erondu/800x800" height="300vh" width="49%" style="margin: auto;"  >
  
  <img class="photo" src="https://source.unsplash.com/user/erondu/800x800" height="300vh" width="49%" style="margin: auto;">
</div> -->



<table id="my"   >

  <thead>
    <tr class="you">
      <th class="flex" >
        <figure class="hover">
          <a class="photo" href="123"><img src="../static/img/video.png" height="400vh" width="98%" style="margin: auto;"></a>
          <center class="text"><a href="123"><h4 class="size" style="font-family: 'Permanent Marker', cursive;"><b>Tech Education</b></h4></a></center>
        </figure>
      </th>
          
      <th class="flex" >
        <figure class="hover">
          <a class="photo" href="123"><img src="../static/img/video.png" height="400vh" width="98%" style="margin: auto;"></a>
          <center class="text"><a href="123"><h4 class="size" style="font-family: 'Permanent Marker', cursive;"><b>Tech Education</b></h4></a></center>
        </figure>
      </th>


      
    </tr>
  </thead>
</table>






<table id="my1"   >

  <thead>
    <tr class="you">
      <th class="flex" >
        <figure class="hover">
          <a class="photo" href="123"><img src="../static/img/video.png" height="400vh" width="98%" style="margin: auto;"></a>
          <center class="text"><a href="123"><h4 class="size" style="font-family: 'Permanent Marker', cursive;"><b>Tech Education</b></h4></a></center>
        </figure>
      </th>
          
      <th class="flex" >
        <figure class="hover">
          <a id="volvo" class="photo" href="123"><img src="../static/img/video.png" height="400vh" width="98%" style="margin: auto;"></a>
          <center class="text"><a href="123"><h4 class="size" style="font-family: 'Permanent Marker', cursive;"><b>Tech Education</b></h4></a></center>
        </figure>
      </th>


      
    </tr>
  </thead>
</table>





  {% extends "layout.html" %}
  {% block body %}

  {% endblock %}